.gallery {
    margin: 10px 50px;
}
.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
    height:200px !important;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.no {
    display: none;
}